################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/obj
/WebApplication1/bin/Debug/net5.0
/API/obj
